<!DOCTYPE html>
<html>
  <head>
    <title>Login - Idea Tracker</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Idea Tracker </a></h1>
    </header>
    <main>
      <h2>Log in</h2>

      <form class="center" action="/login" method="post">
        <div class="form-row">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="form-row">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>

        <button type="submit">Login</button>
      </form>

      <hr />

      <p class="subtext">Need an account? <a href="/signup">Sign Up</a></p>
    </main>
  </body>
</html>
