<!DOCTYPE html>
<html>
  <head>
    <title>Sign up - Idea Tracker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Idea Tracker </a></h1>
    </header>
    <main>
      <h2>Sign up</h2>

      <span class="error">
        <% if (message.length > 0) { %> <%= message %> <% } %>
      </span>
      <form action="/signup" method="post">
        <div class="form-row">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="form-row">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>

        <button type="submit">Sign up</button>
      </form>

      <p class="subtext">
        Already have an account? <a href="/login">Log in</a>
      </p>
    </main>

    <footer>
      <a
        href="https://github.com/mau11/idea-tracker"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit Idea Tracker GitHub Repository"
      >
        <p>
          <span>&copy; 2025 Idea Tracker.</span>
          <span>All rights reserved.</span>
          <span class="github">
            Created by Mau
            <img src="/images/github-mark.png" alt="GitHub Logo" />
          </span>
        </p>
      </a>
    </footer>
  </body>
</html>
